.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
public/ect.json
src/assets/img/6.jpg
src/assets/img/7.jpg
src/assets/img/9.jpg
src/assets/img/ad.jpg
src/assets/img/ahead.png
src/assets/img/arrow.png
src/assets/img/back.png
src/assets/img/background.jpg
src/assets/img/back-h.png
src/assets/img/back-r.png
src/assets/img/banner.png
src/assets/img/banner-pic.png
src/assets/img/camera.png
src/assets/img/cancel_success.png
src/assets/img/cha.png
src/assets/img/close-area.png
src/assets/img/code.png
src/assets/img/cross.png
src/assets/img/duli.png
src/assets/img/esim1.jpg
src/assets/img/esim-title.png
src/assets/img/face_recognise_bg.png
src/assets/img/fail.png
src/assets/img/fanhui.png
src/assets/img/gc1.png
src/assets/img/gc3.png
src/assets/img/gc4.png
src/assets/img/gou-r.png
src/assets/img/head.png
src/assets/img/header-full.png
src/assets/img/iphonese.png
src/assets/img/jdheader.png
src/assets/img/jdheaderReplace.jpg
src/assets/img/liang.jpg
src/assets/img/liang.png
src/assets/img/liantong.png
src/assets/img/link-arrow.png
src/assets/img/liuliang.jpg
src/assets/img/loading.gif
src/assets/img/logo.png
src/assets/img/maincard.png
src/assets/img/meixuan.png
src/assets/img/open_card_info.png
src/assets/img/open_card_un.png
src/assets/img/open_card_video.jpg
src/assets/img/payment_ok.png
src/assets/img/photo.png
src/assets/img/pro.png
src/assets/img/pro-title.png
src/assets/img/repairLine.png
src/assets/img/scene_shoot_bg.png
src/assets/img/search.png
src/assets/img/search-h.png
src/assets/img/select.png
src/assets/img/select-h.png
src/assets/img/select-r.png
src/assets/img/shape2copy5.png
src/assets/img/shengji.jpg
src/assets/img/shuanng.png
src/assets/img/special.jpg
src/assets/img/taocan.png
src/assets/img/test-code.png
src/assets/img/test-picture.png
src/assets/img/title.png
src/assets/img/title1.png
src/assets/img/tongguo.png
src/assets/img/top.jpg
src/assets/img/top-bottom-h.png
src/assets/img/top-bottom-r.png
src/assets/img/toubu.png
src/assets/img/user-h.png
src/assets/img/user-r.png
src/assets/img/wxz.png
src/assets/img/xia-h.png
src/assets/img/xia-r.png
src/assets/img/xuanze.png
src/assets/img/xuanzele.png
src/assets/img/yj-h.png
src/assets/img/yj-r.png
src/assets/img/you.png
src/assets/img/you-h.png
src/assets/img/zimi784.jpg
src/assets/img/zimi832.jpg
src/assets/img/zuo.png
src/assets/img/zuo-h.png
src/assets/img/mobile_bg.jpg
src/assets/img/more.png
src/assets/img/
